@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="body-content" align="center">
<p align="left">
    In 2003 richtte Patrick Kerssemakers het online warenhuis Voeljegezond.nl op. In 2004 nam Kerssemakers Nonplusultra.nl over, een webwinkel gespecialiseerd in design, cadeaus en gadgets. De bedrijfsnaam werd toen aangepast naar Mailorder Solutions. In 2005 werd ook Apartdesign.nl overgenomen en aan het bedrijf toegevoegd. In datzelfde jaar richtte Joost Wels fonQ.nl en enkele niche webshops op. Mailorder Solutions en fonQ.nl waren op dat moment elkaars concurrent.
<br />
<img src="https://www.sprout.nl/sites/default/files/fonq_86681.jpg" width="400px" align="middle"/>
<br />
    In 2009 bundelden de twee bedrijfjes hun werking. Wels nam plaats als directielid binnen de organisatie van Mailorder Solutions en werd verantwoordelijk voor Business Development & Purchase. In 2010 ging de organisatie verder onder de naam fonQ. Begin 2017 nam Kerssemakers afscheid als CEO.
</p>
    </div>