@model fonq_distributiecentrum.Models.producten

@{
    ViewBag.Title = "Remove";
}

<h2>Remove</h2>

Weet je zeker dat je dit product wil verwijderen?

<div>
    <button type="submit">Ja, verwijder.</button>
</div>