body{
    background-color: white;
    margin-left: 80px;
    margin-top: 50px;
    margin-right: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#bodycontainer {
    display: flex;
}

#zeeslagBoard {
    width: 400px;
    height: 400px;
    position: relative;
    display: inline-block;
    margin-top: 30px;
}

#zeeslagBoard div {
    flex: 1;
    width: 40px;
    height: 40px;
    background: black;
    display: inline-block;
    border: 1px solid white;
    
}

#zeeslagBoard div:hover {
    background: grey;
}

#display {
margin: 100px;
margin-top: 180px;
    line-height: 1;
align-content: right;
}

#textcontainer {
    width: 500px;
    height: 200px;
    display: inline-block;
    align-content: right;
}